:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}    

body {
    color: black;
    background-color: rgb(253, 235, 215);
    margin: 0;
    padding: 0;
}

main {
    margin-left: 5rem; 
    padding: 1rem !important;
}


/* Navigation menu */

.navbar {
    width: 5rem;
    height: 100vh; 
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    padding: 0;  
    border-radius: 0 !important;
    z-index: 100;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;    
}

.nav-item:nth-last-child(2) {
    margin-top: auto;
}

.nav-item:last-child {
    margin-bottom: 2rem;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 4rem;
    color: var(--text-primary) !important;
    text-decoration: none !important;
    filter: grayscale(100%) opacity(0.6); 
    font-size: 14px !important; 
    margin-right: 0.1rem;    
    font-family: Arial, Helvetica, sans-serif !important; 
}

.logo .nav-link {
    margin-bottom: 1rem;
    margin-top: 1rem; 
}

.logo .link-text {
    display: none;
    margin-left: 0.1rem !important;     
    white-space: normal !important;
} 

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    transition: 500ms ease;    
}

.link-text {
    display: none;
    margin-left: 0.1rem; 
} 

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem; 
    fill: rgba(255, 166, 0, 0.788);   
}

.navbar:hover {
    width: 16rem;
    position: fixed;
    overflow: hidden;
}

.navbar:hover .link-text {
    display: block; 
    overflow: hidden;   
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);    
    letter-spacing: 0.3ch;  
    background: var(--bg-secondary) !important;
    width: 100%;    
    margin-left:-0.3rem;
    font-size: 1rem;
}

.logo svg {
    transform: scale(1.5);
    transition: 200ms;    
}

.navbar:hover .logo svg {
    transform: scale(2);
    transition: 500ms; 
    fill: orangered;
}

/* Hero image */

.hero-image img {  
height: 45vh;      
position: relative;
width: 99vw;
filter: brightness(50%) opacity(80%);
z-index: -1;
margin-left: -6rem;
margin-top: -1rem;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 23vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: var(--text-secondary);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

/* Footer */

.footer {
    margin-left: 5rem;
    margin-top: 50px;
    background: #000;
    color: #fff;   
    text-align: center; 
}

.footer a {    
    color: #fff;
    text-decoration: none;  
}
.footer h1 {
    font-size: 25px;
    margin: 13px 0;
}
.footer p {
    font-size: 13px;    
    display: inline-block;    
}

.even-columns {
    display: flex;
}

.even-columns > * {
    flex-basis: 100%;
}

/* Modal login */

.modal-login {
	color: #636363;
	width: 350px;
}
.modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-login .modal-header {
	border-bottom: none;
	position: relative;
	justify-content: center;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
}
.modal-login  .form-group {
	position: relative;
}
.modal-login i {
	position: absolute;
	left: 13px;
	top: 11px;
	font-size: 18px;
}
.modal-login .form-control {
	padding-left: 40px;
}
.modal-login .form-control:focus {
	border-color: rgba(255, 166, 0, 0.788);   
}
.modal-login .form-control, .modal-login .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-login .hint-text {
	text-align: center;
	padding-top: 10px;
}
.modal-login .close {
	position: absolute;
	top: -5px;
	right: -5px;
}
.modal-login .btn, .modal-login .btn:active {	
	border: none;
	background: #ce7500 !important;
	line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: rgba(255, 166, 0, 0.788) !important;
}
.modal-login .modal-footer {
	background: #ecf0f1;
	border-color: #dee4e7;
	text-align: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
	justify-content: center;
}
.modal-login .modal-footer a {
	color: #999;
}

/* Index bootstrap */

.container {
    margin-top: 5rem;
}

.box {
    background-color: transparent;
    width: 230px;
    height: 320px;
    border: 3px solid black;
    perspective: 1000px;
    display: inline-block;
    counter-increment: gallery-cell;
}

.box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.box:hover .box-inner {
    transform: rotateY(180deg);
}

.box-front, .box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.box-back {
    background-color: #DFB190;
    color: white;
    transform: rotateY(180deg);
}

.slider-item {
  margin: 5px;
  width: 100%;
}
.slider-item .slider-main-detail{
  padding: 5px;
  border-radius: 5px;
}
.slider-item:hover .slider-main-detail{
  background-color: transparent !important;
}

.slider-item {
  width: 50%;
  float: left;
  border-right: 1px solid #E1E1E1;
}
.slider-item {
  width: 50%;
  float: left;
}
.controls {
  margin-top: 20px;
}

.row {
  display: flex;
  margin-top: 20px;
  margin-left: 50px;
}

.column {
  flex: 33.33%;
  padding: 8px ;
}

.img {
  margin: 2px;
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 700px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.buttonRead, .buttonFavourites {
  background-color: #e7e7e7;
  color: black;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 8px;
}

/* Banner image */

.banner-image {      
  z-index: -1;
  margin: 0;
  padding: 0;
}

.banner-image > img {
    width: 93vw;
    max-height: 35vh;
    filter: brightness(60%) opacity(80%);
    margin-bottom: 1rem;
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 20vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: var(--text-secondary);
    font-size:30px;
}

/* About us page */

#credits {
    font-size: 20px; 
    text-align: center;    
}

/* Catalogue layout */

#search {
    max-width: 60vw;
    align-self: center;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

#books-list {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 20px;
}

.content-flow {    
    display: flex;    
    min-height: 100%;
}

.side-options {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 15%;
    min-width: 3rem;
    margin-right: 1rem;
    margin-left: 2rem;
    background-color: rgb(252, 228, 200);

}

.main-content {
    display: flex;
    flex: 1 1 75%;
    margin-right: 20vw;
    margin-left: 3rem;
    background-color: rgb(252, 228, 200);
}

.no-books {
    text-align: center;
    font-size: 1.5rem;
}

/* Book tile */

.book-tile {      
    text-align: center;   	
    border: 1px rgb(255, 214, 100);
    border-style: groove;
    box-shadow: 2px 3px 6px #888888;
    background-color: rgb(253, 245, 227);
    max-width: 240px;
}

.book-tile > h1 {
    font-size: 1.75rem; 
    margin: 1ch 1ch 1ch 1ch;  
}

.book-tile > h3 {
    font-size: 1.5rem ;  
    text-align: left;   
    margin-left: 3px;
}

.book-tile > h4 {
    font-size: 1.25rem ; 
    text-align: left; 
    margin-left: 3px;   
}


/* Scroll-to-top button */

#topBtn {  
    position: fixed; 
    bottom: 20px; 
    right: 30px;  
    border: none; 
    outline: none;
    background-color: var(--bg-primary);
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
    z-index: 99;   
    display: none;
  }
  
  #topBtn:hover {
    background-color: var(--bg-secondary);
  }

  /* Filters */

  .col > h6 {
      text-align: center;
      font-size: 1.3rem;
      margin: 1rem;
      padding: 3px;
  }

  .filters-list {
      list-style-type: none;
      padding: 5px;
      font-size: 0.9rem;
  }

  .filter-select {
      margin-right: 1ch;
  }

 /* Category page */

 .spaced-cols {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));    
    margin-left: 6rem;
}

.col {
    width: 350px !important;
}


.categ-img {
    border: 2px black;
    border-style: solid;  
    filter: brightness(80%) grayscale(25%);
    position: relative;
}

.categ-text {         
    font-size: 30px; 
    text-decoration: none;
    color: rgb(243, 178, 81); 
    text-shadow: 0 0 10px rgb(0, 0, 0);
    margin-right: 30px;  
    left: 70px;
    position: absolute;
    text-align: center;
    top: 160px;     
    filter:blur(0.3px);
}

#categ1 {
    left: 80px;
    top: 200px;
}



