:root {
    font-size: 16px;
    font-family: 'Verdana';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}    

body {
    color: black;
    background-color: rgb(253, 235, 215);
    margin: 0;
    padding: 0;
}

/*body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background:rgba(168, 96, 2, 0.842);
}
*/
body::-webkit-scrollbar {
    display: none;    
}


main {
    margin-left: 5rem; /* 1 rem = font-size */
    padding: 1rem;
}


/* Navigation menu */

.navbar {
    width: 5rem;
    height: 100vh; /* height of viewport */
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    padding: 0;  
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* row by default */
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 16rem;
}

.nav-item {
    width: 100%;    
}

.nav-item:nth-last-child(2) {
    margin-top: auto;
}

.nav-item:last-child {
    margin-bottom: 2rem;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 4rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.6);      
}

.logo .nav-link {
    margin-bottom: 1rem;
    margin-top: 1rem;   
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    transition: 500ms ease;    
}

.link-text {
    display: none;
    margin-left: 0.1rem;   
} 

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem; 
    fill: rgba(255, 166, 0, 0.788);   
}

.navbar:hover {
    width: 16rem;
    position: fixed;
    overflow: hidden;
}

.navbar:hover .link-text {
    display: block; 
    overflow: hidden;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1rem;
    letter-spacing: 0.3ch;
    width: 100%;  
}

.logo svg {
    transform: scale(1.5);
    transition: 200ms;    
}

.navbar:hover .logo svg {
    transform: scale(2); /* rotate(180deg); */
    transition: 500ms; 
    fill: orangered;
}

/* Hero image */

.hero-image img{   
  
height: 50vh;      
position: relative;
width: 100vw;
filter: brightness(50%) opacity(80%);
z-index: -1;
margin-left: -6rem;
margin-top: -1rem;
}
  
 
.hero-text {
text-align: center;
position: absolute;
top: 25vh;
left: 50vw;
transform: translate(-50%, -50%);
color: var(--text-secondary);
font-size:30px;
}

/* Footer */

.footer
{
    margin-left: 5rem;
    margin-top: 50px;
    background: #000;
    color: #fff;    
}

.footer .row {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
}
.footer a
{    
    color: #fff;
    text-decoration: none;  
}
.footer h1
{
    font-size: 27px;
    margin: 15px 0;
}
.footer p
{
    font-size: 12px;    
}

.footer .col-md-3 { 
    margin-left: 0.01vw;   
    float: left;
    max-width: 100%;
}

.row:after {    
    content: " ";
    display: grid !important;
    clear: both;    
}

/* Modal login */

.modal-login {
	color: #636363;
	width: 350px;
}
.modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-login .modal-header {
	border-bottom: none;
	position: relative;
	justify-content: center;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
}
.modal-login  .form-group {
	position: relative;
}
.modal-login i {
	position: absolute;
	left: 13px;
	top: 11px;
	font-size: 18px;
}
.modal-login .form-control {
	padding-left: 40px;
}
.modal-login .form-control:focus {
	border-color: rgba(255, 166, 0, 0.788);   
}
.modal-login .form-control, .modal-login .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-login .hint-text {
	text-align: center;
	padding-top: 10px;
}
.modal-login .close {
	position: absolute;
	top: -5px;
	right: -5px;
}
.modal-login .btn, .modal-login .btn:active {	
	border: none;
	background: #ce7500 !important;
	line-height: normal;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: rgba(255, 166, 0, 0.788) !important;
}
.modal-login .modal-footer {
	background: #ecf0f1;
	border-color: #dee4e7;
	text-align: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
	justify-content: center;
}
.modal-login .modal-footer a {
	color: #999;
}

.box {
    background-color: transparent;
    width: 230px;
    height: 320px;
    border: 3px solid black;
    perspective: 1000px;
    display: inline-block;
    counter-increment: gallery-cell;
}

.box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.box:hover .box-inner {
    transform: rotateY(180deg);
}

.box-front, .box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


.box-back {
    background-color: #DFB190;
    color: white;
    transform: rotateY(180deg);
}


.slider-item {
  margin: 5px;
  width: 100%;
}
.slider-item .slider-main-detail{
  padding: 5px;
  border-radius: 5px;
}
.slider-item:hover .slider-main-detail{
  background-color: transparent !important;
}


.slider-item {
  width: 50%;
  float: left;
  border-right: 1px solid #E1E1E1;
}
.slider-item {
  width: 50%;
  float: left;
}
.controls {
  margin-top: 20px;
}

#nav {
font-family: Century Gothic, Arial, Helvetica, sans-serif;
font-size: 14px;
color: #fff;
background-color: #353539;
height: 50px;
width: auto;
font-weight: bold;
border-width:0px;
opacity:0.95;
    padding:0px;
}
#nav ul {
margin:0 auto;
    width:auto;
    height:50px;
} 
#nav ul li {
list-style-type: none;
text-align: center;
display:inline-block;
margin: 0px;
padding:0px ;
    
    height:50px;
}
#nav ul li a {
text-decoration: none;
color: #d2d2d2;
text-align: center;
display: block;
padding: 13px;
margin: 3px;
}
#nav ul li a:hover {
color: #DFB190;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 8px ;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 500px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

button {
  background-color: #e7e7e7;
  color: black;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 8px;
}

