<section class="footer">
    <div class="content flow">
        <div class="even-columns">
            <div class="col">
                <h1>Полезни връзки</h1>
                <a href="legalInfo.html"><p>Защита на личните данни</p></a>
                <br>
                <a href="legalInfo.html"><p>Условия на ползване</p></a>
                <br>
                <a href="legalInfo.html"><p>Политика на връщане</p></a>     
            </div>

            <div class="col">
                <h1>Компанията</h1>
                <a href="companyInfo.html"><p>За нас</p></a>
                <br>
                <a href="companyInfo.html"><p>Контакти</p></a>
                <br>
                <a href="companyInfo.html"><p>Кариера</p></a>
            </div>

            <div class="col">
                <h1>Последвайте ни</h1>
                <a href="https://www.facebook.com/"><p><i class="fa fa-facebook-official"></i> Facebook</p></a>
                <br>
                <a href="https://www.youtube.com/"><p><i class="fa fa-youtube-play"></i> YouTube</p></a>
                <br>
                <a href="https://twitter.com/"><p><i class="fa fa-twitter"></i> Twitter</p></a>
            </div>
        </div>
    </div>
</section>